i.fa-twitter {
  color: #38a1f3;
}
i.fa-facebook {
  color: #3b5998;
}
i.fa-instagram {
  color: #3f729b;
}
i.fa-youtube {
  color: #c4302b;
}
i.fa-linkedin {
  color: #0077b5;
}
/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
